<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
        id="AscCardReader"
        version="0.1">

  <name>AscCardReader</name>
  <description>Plug in to use with ACR38U smart card reader device by ACS, Thai Id</description>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/AscCardReader.js" target="js/AscCardReader.js"/>

  <js-module src="www/AscCardReader.js" name="AscCardReader">
    <clobbers target="AscCardReader" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AscCardReaderPlugin">
        <param name="android-package" value="com.smartcard.AscCardReaderPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/MyKadPlugin.java" 	target-dir="src/smartcard/com/AscCardReader/"/>
    <source-file src="src/android/MyKad_JPN.java" 		target-dir="src/smartcard/com/AscCardReader/"/>
    <source-file src="src/android/MyKad_Data.java" 		target-dir="src/smartcard/com/AscCardReader/"/>
    <source-file src="src/android/MyKad.java" 			target-dir="src/smartcard/com/AscCardReader/"/>
    <source-file src="src/android/Helper.java" 			target-dir="src/smartcard/com/AscCardReader/"/>
    <source-file src="src/android/CardReader.java" 		target-dir="src/smartcard/com/AscCardReader/"/>
    <source-file src="src/android/acssmc-1.1.5.jar" 	target-dir="libs"/>
  </platform>

</plugin>